<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BloomAI</title>
    <link href="../static/styles_and_script/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>    
<div id="welcome"><h1>Welcome to BloomAI</h1></div>
<main>
<ul>
    <li >
        <a href="/generate" class= "generate-boxes" id="generate"><span>Click to generate an image</span> </a>
    </li>
    <li>
        <a href="/gif" class= "generate-boxes"  id="gif"><span>Click to generate a GIF</span></a>
    </li>
    <li >
        <a href="/drawing" class= "generate-boxes" id="drawing" ><span>Drawing mode</span></a>
    </li>
</ul>
<div id="prev"><a href="/prev">See the last generated image</a></div>

</main>

<script src="../static/styles_and_script/script.js"></script>
   
    
</body>
</html>